body{
  background: #820102;
}

blockquote{
  background: none rgba(0,0,0,0.3);
}

.area{
  color: #fff;
}

.jumbotron{
  background: #fff;
}

.pedido{
  background: #00CE5C;

  h5{
    color: #fff;
  }

  blockquote{
    color: #fff;
  }
}

.fazer-pedido{
  background: #D66E02;

  h5{
    color: #fff;
  }

  blockquote{
    color: #fff;
  }
}

.entrega-pedido{
  background: #02C2D6;

  h5{
    color: #fff;
  }

  blockquote{
    color: #fff;
  }
}

.hora{
  position: absolute;
  color: #000;
  right: 28px;
  top: -38px;
  background: #FFED01;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid white;
}

.mensagem-feedback {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.mensagem-feedback.ng-hide {
  opacity:0;
}
