<div id="colunas" class="row">
  <h4 class="center teal-text text-lighten-4 teal darken-3">
      Nápoles Pizzaria
  </h4>

  <div class="col s12 m4 colunaPedidos">
      <h5 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-comment deep-orange-text text-lighten-3"></i> Pedidos
      </h5>
      <!-- Conta os itens da coluna:: qtdPedidos -->
      <div class="col s12">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-clock-o teal-text text-darken-3"></i> {{pedidos.length}} Pedidos na fila
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1"></div>
      <div class="row">
          <div class="col s12 totalPedidos">
              <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="pedido in pedidos | orderBy:'hora'">
                      <h6 class="hora">as <b>{{pedido.hora}}hs</b></h6>
                      <a href="#{{pedido._id}}" class="waves-effect waves-light btn full-width secondary-content modal-trigger left" modal>
                          <i class="fa fa-shopping-basket"></i> detalhes
                      </a>
                      <div class="collapsible-header white black-text">
                          <i class="fa fa-user secondary-content left"></i>
                          {{pedido.nome}}
                          <br />
                          <i class="fa fa-phone grey-text"></i>{{pedido.telefone}}
                          <br />
                          <i class="fa fa-mobile grey-text"></i>{{pedido.celular}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{pedido.pedido}}
                              <br />
                              <small class="red-text bold">* {{pedido.observacoes}}</small>
                            </blockquote><br/>

                              <h5 class="secondary-content red-text">
                                  <small><b>R$ {{pedido.valor}}</b></small>
                              </h5>
                          </div>
                      </div>
                      <!-- Modal com as informações do cliente -->
                      <div id="{{pedido._id}}" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Dados do Pedido</h4>
                              <div class="row">

                                <ul class="collection">
                                  <li class="collection-item"><i class="secondary-content fa fa-user left"></i>{{pedido.nome}}</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-phone left"></i>{{pedido.telefone}}</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-mobile left"></i>{{pedido.celular}}</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{pedido.endereco}} - {{pedido.bairro}} - cep: {{pedido.cep}}</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{pedido.referencia}}</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-calendar left"></i>{{pedido.data}} as {{pedido.hora}}hs</li>
                                  <li class="collection-item"><i class="secondary-content fa fa-dollar left"></i>{{pedido.formaPg}}</li>
                                  <li class="collection-item">
                                    <blockquote>
                                      {{pedido.pedido}}
                                      <br />
                                      <small class="red-text bold">* {{pedido.observacoes}}</small>
                                    </blockquote>
                                  </li>
                                  <li class="collection-item right red-text"><h5><b><i class="secondary-content fa fa-money left"></i>R${{pedido.valor}}</b></h5></li>
                                </ul>

                              </div>
                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">OK</button>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width" ng-click="toCozinha(pedido)"><i class="fa fa-cutlery"></i> ir para cozinha</a>
                      <a href="#deletarPedido" class="waves-effect waves-light btn full-width red modal-trigger"><i class="fa fa-times-circle"></i> cancelar pedido</a>

                      <!-- Modal com as informações do cliente -->
                      <div id="deletarPedido" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Cancelar o pedido?</h4>


                                <p>Tem certeza que deseja remover este pedido?</p>

                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text left">Não</button>
                              <button class="modal-action modal-close waves-effect waves-light btn-flat white-text red" ng-click="cancelPedido(pedido)">Sim</button>
                          </div>
                      </div>

                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>
          </div>
      </div>
  </div>
  <div class="col s12 m4 colunaCozinha">
      <h5 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-cutlery deep-orange-text text-lighten-3"></i> Cozinha
      </h5>
      <!-- Conta os itens da coluna:: qtdCozinha -->
      <div class="col s12 qtdCozinha">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-circle-o-notch fa-spin teal-text text-darken-3"></i> {{cozinhas.length}} Pedidos na cozinha
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1">&nbsp;</div>
      <!-- Inicia os itens -->
      <div class="row">
          <div class="col s12 totalPedidos">

            <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="cozinha in cozinhas | orderBy:'hora'">
                      <h6 class="text-center hora">as <b>{{cozinha.hora}}hs</b></h6>
                      <a href="#{{cozinha._id}}" class="waves-effect waves-light btn full-width secondary-content modal-trigger left" modal>
                          <i class="fa fa-shopping-basket"></i> detalhes
                      </a>
                      <div class="collapsible-header active white black-text">
                          <i class="fa fa-user secondary-content"></i>
                          {{cozinha.nome}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{cozinha.pedido}}
                              </blockquote><br/>
                          </div>
                      </div>
                      <!-- Modal com as informações do cliente -->
                      <div id="{{cozinha._id}}" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Dados do Pedido</h4>
                              <div class="row">

                                <ul class="collection">
                                  <li class="collection-item"><i class="secondary-content fa fa-user left"></i>{{cozinha.nome}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-phone left"></i>{{cozinha.telefone}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-mobile left"></i>{{cozinha.celular}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{cozinha.endereco}} - {{cozinha.bairro}} - cep: {{cozinha.cep}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{cozinha.referencia}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-calendar left"></i>{{cozinha.data}} as {{cozinha.hora}}hs</a>
                                  <li class="collection-item"><blockquote>{{cozinha.pedido}}</blockquote></a>
                                  <li class="collection-item right red-text"><h5><b><i class="secondary-content fa fa-money left"></i>R${{cozinha.valor}}</b></h5></a>
                                </ul>

                              </div>
                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">OK</button>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width" ng-click="toEntrega(cozinha)"><i class="fa fa-paper-plane"></i> ir para entrega</a>
                      <a href="#deletarPedidoCozinha" class="waves-effect waves-light btn full-width red modal-trigger"><i class="fa fa-times-circle"></i> cancelar pedido</a>

                      <!-- Modal com as informações do cliente -->
                      <div id="deletarPedidoCozinha" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Cancelar o pedido?</h4>


                                <p>Tem certeza que deseja remover este pedido?</p>

                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text left">Não</button>
                              <button class="modal-action modal-close waves-effect waves-light btn-flat white-text red" ng-click="cancelPedidoCozinha(cozinha)">Sim</button>
                          </div>
                      </div>


                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>


          </div>
      </div>
  </div>
  <div class="col s12 m4 coluna_entrega">
      <h5 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-paper-plane deep-orange-text text-lighten-3"></i> Entrega
      </h5>
      <!-- Conta os itens da coluna:: qtdEntrega -->
      <div class="col s12 qtdEntrega">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-check teal-text text-darken-3"></i> {{entregas.length}} Pedidos para entrega
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1"></div>
      <div class="row">
          <div class="col s12 totalPedidos">

            <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="entrega in entregas | orderBy:'hora'">
                      <h6 class="text-center hora">as <b>{{entrega.hora}}hs</b></h6>
                      <a href="#{{entrega._id}}" class="waves-effect waves-light btn full-width secondary-content modal-trigger left" modal>
                          <i class="fa fa-shopping-basket"></i> detalhes
                      </a>
                      <div class="collapsible-header active white black-text">
                          <i class="fa fa-user secondary-content"></i>
                          {{entrega.nome}}
                          <br />
                          <i class="fa fa-phone grey-text"></i>{{entrega.telefone}}
                          <br />
                          <i class="fa fa-mobile grey-text"></i>{{entrega.celular}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{entrega.endereco}} - {{entrega.bairro}} - Ref. {{entrega.referencia}} - Cep {{entrega.cep}}
                            </blockquote><br/>
                          </div>
                      </div>
                      <!-- Modal com as informações do cliente -->
                      <div id="{{entrega._id}}" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Dados do Pedido</h4>
                              <div class="row">

                                <ul class="collection">
                                  <li class="collection-item"><i class="secondary-content fa fa-user left"></i>{{entrega.nome}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-phone left"></i>{{entrega.telefone}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-mobile left"></i>{{entrega.celular}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{entrega.endereco}} - {{entrega.bairro}} - cep: {{entrega.cep}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-map-marker left"></i>{{entrega.referencia}}</a>
                                  <li class="collection-item"><i class="secondary-content fa fa-calendar left"></i>{{entrega.data}} as {{entrega.hora}}hs</a>
                                  <li class="collection-item"><blockquote>{{entrega.pedido}}</blockquote></a>
                                  <li class="collection-item right red-text"><h5><b><i class="secondary-content fa fa-money left"></i>R${{entrega.valor}}</b></h5></a>
                                </ul>

                              </div>
                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">OK</button>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width" ng-click="toPedidoSuccess(entrega)"><i class="fa fa-check"></i> finalizar pedido</a>
                      <a href="#deletarPedidoEntrega" class="waves-effect waves-light btn full-width red modal-trigger"><i class="fa fa-times-circle"></i> cancelar pedido</a>

                      <!-- Modal com as informações do cliente -->
                      <div id="deletarPedidoEntrega" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Cancelar o pedido?</h4>


                                <p>Tem certeza que deseja remover este pedido?</p>

                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text left">Não</button>
                              <button class="modal-action modal-close waves-effect waves-light btn-flat white-text red" ng-click="cancelPedidoEntrega(entrega)">Sim</button>
                          </div>
                      </div>

                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>

          </div>
      </div>
  </div>
</div>

<script>

  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

    $('.totalPedidos').css({
      'height': $(window).height() - 165+'px'
    });
    $(window).resize(function(){
      $('.totalPedidos').css({
        'height': $(window).height() - 165+'px'
      });
    });
  });

</script>
