<!-- <div class="container">
  <h4 ng-show="mensagem" class="mensagem-feedback alert alert-success" role="alert"><i class="fa fa-check"></i> {{mensagem}}</h4>
</div>
<div class="row">

  <div class="col-md-4 col-sm-4">

    <div class="col-md-12">
      <h2 class="text-center area">
        <i class="fa fa-desktop fa-2x"></i>
      </h2>
    </div>

    <div class="col-md-12">
      <div class="thumbnail pedido" ng-repeat="pedido in pedidos">
        <div class="caption">
          <h3 class="text-right hora">{{pedido.hora}} - {{pedido.data}}</h3>
          <h5><b>Cliente</b>: {{pedido.nome}}</h5>
          <h5><b>Telefone</b>: {{pedido.telefone}}</h5>
          <h5><b>Celular</b>: {{pedido.celular}}</h5>
          <h5><b>Endereço</b>: {{pedido.endereco}}</h5>
          <h5><b>Ponto de ref.</b>: {{pedido.referencia}}</h5>
          <blockquote>
            {{pedido.pedido}}
          </blockquote>
          <h3 class="text-center area">Valor total: R${{pedido.valor}}</h3>
          <p>
            <button type="button" class="btn btn-lg btn-default btn-block" ng-click="toCozinha(pedido)">Ir para cozinha!</a>
          </p>
        </div>
      </div>
    </div>

  </div>


  <div class="col-md-4 col-sm-4">
    <div class="col-md-12">
      <h3 class="text-center area">
        <i class="fa fa-cutlery fa-3x"></i>
      </h3>
    </div>

    <div class="col-md-12">

      <div class="thumbnail fazer-pedido" ng-repeat="cozinha in cozinhas">
        <div class="caption">
          <h3 class="text-right hora">{{cozinha.hora}}</h3>
          <h5><b>Cliente</b>: {{cozinha.nome}}</h5>
          <h5><b>Telefone</b>: {{cozinha.telefone}}</h5>
          <h5><b>Celular</b>: {{cozinha.celular}}</h5>
          <h5><b>Endereço</b>: {{cozinha.endereco}}</h5>
          <h5><b>Ponto de ref.</b>: {{cozinha.referencia}}</h5>
          <blockquote>
            {{cozinha.pedido}}
          </blockquote>
          <h3 class="text-center area">Valor total: R${{cozinha.valor}}</h3>
          <p>
            <button type="button" class="btn btn-warning btn-lg btn-block" ng-click="toEntrega(cozinha)">Pronto para entrega!</a>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-4 col-sm-4">

    <div class="col-md-12">
      <h2 class="text-center area">
        <i class="fa fa-motorcycle fa-2x"></i>

      </h2>
    </div>

    <div class="col-md-12">

      <div class="thumbnail entrega-pedido" ng-repeat="entrega in entregas">
        <div class="caption">
          <h3 class="text-right hora">{{entrega.hora}}</h3>
          <h5><b>Cliente</b>: {{entrega.nome}}</h5>
          <h5><b>Telefone</b>: {{entrega.telefone}}</h5>
          <h5><b>Celular</b>: {{entrega.celular}}</h5>
          <h5><b>Endereço</b>: {{entrega.endereco}}</h5>
          <h5><b>Ponto de ref.</b>: {{entrega.referencia}}</h5>
          <blockquote>
            {{entrega.pedido}}
          </blockquote>
          <h3 class="text-center area">Valor total: R${{entrega.valor}}</h3>
          <p>
            <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="toPedidoSuccess(entrega)">Finalizar pedido!</a>
          </p>
        </div>
      </div>
    </div>

  </div>

  </div>


</div>

 -->
<div id="colunas" class="row">
  <h1 class="center teal-text text-lighten-4 teal darken-3">
      Nápoles Pizzaria
  </h1>
  <div class="open">
      <span class="cls"></span>
      <span>
          <ul class="sub-menu">
              <li>
                  <a href="#contact" title="contact">Sair</a>
              </li>
          </ul>
      </span>
      <span class="cls"></span>
  </div>

  <div class="row deep-orange darken-1">
      <div class="col s1 m3">&nbsp;</div>
      <div class="input-field col s10 m6">
          <input value="" id="busca_pedido" type="text">
          <label class="active white-text" for="busca_pedido">
              Buscar pedido
          </label>
      </div>
      <div class="col s1 m3">&nbsp;</div>
  </div>
  <div class="col s12 m4 colunaPedidos">
      <h3 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-comment deep-orange-text text-lighten-3"></i> Pedidos
      </h3>
      <!-- Conta os itens da coluna:: qtdPedidos -->
      <div class="col s12 qtdPedidos">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-clock-o teal-text text-darken-3"></i> 13 Pedidos na fila
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1"></div>
      <div class="row">
          <div class="col s12">
              <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="pedido in pedidos">
                      <h6 class="text-center hora">{{pedido.hora}}</h6>
                      <div class="collapsible-header white black-text">
                          <a href="#{{pedido._id}}" class="secondary-content modal-trigger left" modal>
                              <i class="fa fa-user"></i>
                          </a>
                          {{pedido.nome}}
                          <br />
                          <i class="fa fa-phone grey-text"></i>{{pedido.telefone}}
                          <br />
                          <i class="fa fa-mobile grey-text"></i>{{pedido.celular}}
                          <br />
                          <i class="fa fa-map-marker grey-text"></i>{{pedido.bairro}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{pedido.pedido}}
                              </blockquote><br/>

                              <h5 class="secondary-content red-text">
                                  <small><b>R$ {{pedido.valor}}</b></small>
                              </h5>
                          </div>
                      </div>
                      <!-- Modal com as informações do cliente -->
                      <div id="{{pedido._id}}" class="modal">
                          <div class="modal-content">
                              <h4 class="center">Dados do Pedido</h4>
                              <div class="row">

                                <ul class="collection">
                                  <li class="collection-item">Nome: {{pedido.nome}}</a>
                                  <li class="collection-item">Telefone: {{pedido.telefone}}</a>
                                  <li class="collection-item">Celular: {{pedido.celular}}</a>
                                  <li class="collection-item">Endereço: {{pedido.endereco}}</a>
                                  <li class="collection-item">Bairro: {{pedido.bairro}}</a>
                                  <li class="collection-item">Cep: {{pedido.cep}}</a>
                                  <li class="collection-item">Referencia: {{pedido.referencia}}</a>
                                  <li class="collection-item">Hora: {{pedido.hora}}</a>
                                  <li class="collection-item">Data: {{pedido.data}}</a>
                                  <li class="collection-item">Pedido: {{pedido.pedido}}</a>
                                  <li class="collection-item right red-text"><h5><b>R${{pedido.valor}}</b></h5></a>
                                </ul>

                              </div>
                          </div>
                          <div class="modal-footer teal">
                              <button class="modal-action modal-close waves-effect waves-green btn-flat white-text">OK</button>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width"><i class="fa fa-cutlery"></i> ir para cozinha</a>
                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>
          </div>
      </div>
  </div>
  <div class="col s12 m4 colunaCozinha">
      <h3 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-cutlery deep-orange-text text-lighten-3"></i> Cozinha
      </h3>
      <!-- Conta os itens da coluna:: qtdCozinha -->
      <div class="col s12 qtdCozinha">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-circle-o-notch fa-spin teal-text text-darken-3"></i> Preparando 3 Pratos
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1">&nbsp;</div>
      <!-- Inicia os itens -->
      <div class="row">
          <div class="col s12">


            <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="cozinha in cozinhas">
                      <h6 class="text-center hora">{{cozinha.hora}}</h6>
                      <div class="collapsible-header active white black-text">
                          <i class="fa fa-user secondary-content"></i>
                          {{cozinha.nome}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{cozinha.pedido}}
                              </blockquote><br/>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width"><i class="fa fa-paper-plane"></i> ir para entrega</a>
                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>


          </div>
      </div>
  </div>
  <div class="col s12 m4 coluna_entrega">
      <h3 class="center deep-orange-text text-lighten-3">
          <i class="fa fa-paper-plane deep-orange-text text-lighten-3"></i> Entrega
      </h3>
      <!-- Conta os itens da coluna:: qtdEntrega -->
      <div class="col s12 qtdEntrega">
          <div class="card-panel teal lighten-1 center">
              <span class="teal-text text-lighten-4">
                  <i class="fa fa-check teal-text text-darken-3"></i> 13 Pedidos prontos
              </span>
          </div>
      </div>
      <div class="divider deep-orange lighten-1"></div>
      <div class="row">
          <div class="col s12">



            <ul class="collapsible popout" data-collapsible="accordion">
                  <!-- INICIO***** ITEM DO PEDIDO -->
                  <li ng-repeat="entrega in entregas">
                      <h6 class="text-center hora">{{entrega.hora}}</h6>
                      <div class="collapsible-header active white black-text">
                          <i class="fa fa-user secondary-content"></i>
                          {{entrega.nome}}
                          <br />
                          <i class="fa fa-phone grey-text"></i>{{entrega.telefone}}
                          <br />
                          <i class="fa fa-mobile grey-text"></i>{{entrega.celular}}
                      </div>
                      <div class="collapsible-body">
                          <div class="col s12 white">
                            <blockquote class="title">
                              {{entrega.endereco}} - {{entrega.bairro}} - Ref. {{entrega.referencia}} - Cep {{entrega.cep}}
                            </blockquote><br/>
                          </div>
                      </div>
                      <a class="waves-effect waves-light btn full-width"><i class="fa fa-paper-plane"></i> finalizar pedido</a>
                    <hr />
                  </li>

                  <!-- FINAL***** ITEM DO PEDIDO -->
              </ul>




          </div>
      </div>
  </div>
</div>

<script>

  // $('.modal-trigger').leanModal();

  $(document).delegate('.open', 'click', function(event){
      $(this).addClass('oppenned');
      event.stopPropagation();
  })
  $(document).delegate('body', 'click', function(event) {
      $('.open').removeClass('oppenned');
  })
  $(document).delegate('.cls', 'click', function(event){
      $('.open').removeClass('oppenned');
      event.stopPropagation();
  });

  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
