<div class="container">
  <h4 ng-show="mensagem" class="mensagem-feedback alert alert-success" role="alert"><i class="fa fa-check"></i> {{mensagem}}</h4>
</div>

<div class="container">

  <form ng-submit="enviarPedido(this)">
    <fieldset>
      <legend><h1 class="text-center area">Cadastrando pedido pelo site</h1></legend>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome" ng-model="nome">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Telefone" ng-model="telefone">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Celular" ng-model="celular">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Endereço" ng-model="endereco">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Bairro" ng-model="bairro">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Cep" ng-model="cep">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ponto de ref." ng-model="referencia">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Valor" ng-model="valor">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Pedido" ng-model="pedido">
      </div>

      <button type="submit" class="btn btn-primary btn-block">Enviar pedido para o sistema!</button>
    </fieldset>
  </form>
</div>
